@charset "UFT-8";

@font-face {
    font-family: 'Sans', times, serif;
    src: url(PlaypenSans-VariableFont_wght.ttf) format(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200&display=swap');
/*  
Tipos de format()
- opentype (otf)
- truetype (ttf)
- embedded 
- truetype-att (Apple advanced Typographv)
-svg
*/

:root {
    --fonte1: 
}

* {
    margin: 0px;
    padding: 0px;
}

html, body { 
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding: 50px;
}

header a,  footer a {
    color: white;
    text-decoration: 
    none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section { 
    padding-bottom: 10vh;
}

section.normal {
    background-color: white;
    color: black;

}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

section > p {
    width: 400px;
    background-color: black;
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;

}