@charset "UFT-8";

@font-face {
    font-family: 'Sans', times, serif;
    src: url(PlaypenSans-VariableFont_wght.ttf) format(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200;400&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Playpen+Sans:wght@200;400&display=swap');
/*  
Tipos de format()
- opentype (otf)
- truetype (ttf)
- embedded 
- truetype-att (Apple advanced Typographv)
-svg
*/

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Sans', times, serif; 
    --fonte3: 'Playpen Sans', cursive;
    --fonte4: 'Edu TAS Beginner', cursive;
}

* {
    margin: 0px;
    padding: 0px;
  
}

html, body { 
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte3);
}

header{
    background-color: black;
    color: white;
    text-align: center;

}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-size: 4vw;
}

header > p {
    padding: 50px;
}

header a,  footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section { 
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte4);
    font-size: 2.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;

}

section.imagem {
    background-color: rgba(47, 44, 44, 0.644);
    color: white;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.494);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.528)
    
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: center right;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: center bottom;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;

}