@charset "UTF-8";

/* Estilo para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

header {
    background-color: rgb(120, 125, 129);
}

header > h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
}
menu li {
    background-color: rgba(66, 69, 71, 0.89);
    padding: 10px;
    color: white;
    display: inline-block;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}

footer {
    background-color: rgba(66, 69, 71, 0.89);
    text-align: center;
    
}

footer > strong {
    color: rgba(255, 255, 255, 0.842);
}